body {
    /* position: relative; */
    height: 100vh;
}

.container {
    border: 3px solid;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat (4, auto);
    /* grid-gap: 3px; */
    grid-row-gap: 3%;
    grid-column-gap: 3%;
    padding: 5px;
    width: 425px;
    height: 600px;
    text-align: center;
    background-color: rgb(69, 96, 106);
    /* position: absolute; */
    margin: 0 auto;
    /* top: 50%;
    left: 50%; */
    /* margin: -200px auto 0 -137.5px; */
}

.display {
    grid-column: 2 / span 3;
    text-align: end;
}

button:hover, input:hover {
    background-color: rgb(147, 156, 170);
}

button, input {
    font-size:  30px;
    box-shadow: 3px 2px 2px darkgray;
    /* border: 1px solid black; */
    background-color: rgb(185, 201, 210);
}


